In [ ]:
!pip install pandas
!pip install seaborn
!pip install sklearn

In [ ]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
!pip install sklearn
!pip install -U scikit-learn scipy matplotlib

In [ ]:
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [12]:
df = pd.read_csv('Student Stress Factors.csv')

In [13]:
print(df.columns.values)
df.head(100)

['Timestamp' 'Kindly Rate your Sleep Quality üò¥'
 'How many times a week do you suffer headaches ü§ï?'
 'How would you rate you academic performance üë©\u200düéì?'
 'how would you rate your study load?'
 'How many times a week you practice extracurricular activities üéæ?'
 'How would you rate your stress levels?']

,Timestamp,Kindly Rate your Sleep Quality üò¥,How many times a week do you suffer headaches ü§ï?,How would you rate you academic performance üë©‚Äçüéì?,how would you rate your study load?,How many times a week you practice extracurricular activities üéæ?,How would you rate your stress levels?
0,27/10/2023 21:54:15,3,1,3,4,2,3
1,28/10/2023 12:24:40,4,1,2,3,3,2
2,28/10/2023 12:24:51,2,1,2,1,4,4
3,28/10/2023 12:26:11,3,2,3,2,3,3
4,28/10/2023 12:26:45,2,3,1,5,5,3
5,28/10/2023 12:31:02,3,1,3,2,1,1
6,28/10/2023 12:34:45,3,5,1,4,3,5
7,28/10/2023 12:35:43,4,3,1,4,1,1
8,28/10/2023 12:36:07,2,1,4,4,5,1
9,28/10/2023 12:36:20,1,2,3,2,5,2
10,28/10/2023 12:37:22,2,3,5,5,2,4
11,28/10/2023 12:38:40,3,1,5,1,4,1
12,28/10/2023 12:39:43,2,3,3,4,4,3
13,28/10/2023 12:40:50,4,1,4,4,1,1
14,28/10/2023 12:41:12,4,1,3,2,5,2
15,28/10/2023 12:41:56,2,3,3,5,3,4
16,28/10/2023 12:48:22,3,1,3,3,3,4
17,28/10/2023 13:26:41,1,1,1,1,1,2
18,28/10/2023 13:28:47,2,1,3,1,2,3
19,28/10/2023 13:29:54,2,3,3,2,3,4
20,28/10/2023 13:30:57,3,4,2,2,1,2
21,28/10/2023 13:32:41,3,3,4,4,3,3
22,28/10/2023 13:33:15,2,1,2,3,2,2
23,28/10/2023 13:33:59,3,1,4,4,2,3
24,28/10/2023 13:41:28,5,1,4,2,1,1
25,28/10/2023 13:42:52,3,1,3,2,2,1
26,28/10/2023 13:44:07,5,1,5,1,5,5
27,28/10/2023 13:47:44,5,5,5,1,1,1
28,28/10/2023 13:52:22,2,3,3,1,1,2
29,28/10/2023 13:54:48,3,4,2,1,3,1
30,28/10/2023 13:57:20,5,1,3,5,5,5
31,28/10/2023 14:09:05,5,2,3,2,3,4
32,28/10/2023 14:27:19,5,5,4,5,2,5
33,28/10/2023 14:40:55,2,3,4,1,2,2
34,28/10/2023 14:58:39,4,1,5,4,5,2
35,28/10/2023 15:10:02,5,1,4,3,2,5
36,28/10/2023 15:10:43,4,1,1,2,4,5
37,28/10/2023 15:39:59,3,2,3,1,1,3
38,28/10/2023 16:16:13,3,4,4,5,3,1
39,28/10/2023 16:34:16,3,1,4,4,4,3
40,28/10/2023 16:55:49,4,4,3,2,2,2
41,28/10/2023 17:24:10,4,1,4,5,1,5
42,28/10/2023 17:26:18,4,2,3,3,5,4
43,28/10/2023 17:29:55,2,1,4,4,1,3
44,28/10/2023 17:31:52,5,1,4,5,4,5
45,28/10/2023 17:56:58,4,1,3,2,5,4
46,28/10/2023 22:33:48,2,1,4,4,1,4
47,28/10/2023 23:06:00,4,3,3,2,2,2
48,28/10/2023 23:45:09,3,3,4,4,4,3
49,29/10/2023 00:32:26,1,1,1,2,3,1
50,29/10/2023 11:40:20,5,1,5,1,3,3
51,31/10/2023 10:10:03,1,1,5,1,5,1
52,31/10/2023 20:49:11,3,2,3,2,5,2

In [23]:
df = pd.read_csv('Student Stress Factors.csv')

In [24]:
df = pd.read_csv("Student Stress Factors.csv")
df.rename(columns={
    "Timestamp":      "Date/Time",
    "Kindly Rate your Sleep Quality üò¥":     "Sleep Quality",
    'How many times a week do you suffer headaches ü§ï?':   'Weekly headaches',
    'How would you rate you academic performance üë©‚Äçüéì?':       "Academic performance",
    'How would you rate your study load?':        'Study load',
    'How many times a week you practice extracurricular activities üéæ?':        "Weekly extracurricular activities",
    'How would you rate your stress levels?':      "Sress level",
            },inplace=True)

train_df, test_df = train_test_split(df)
combine = [train_df, test_df]

In [25]:
print(df.columns.values)
df.head(100)

['Date/Time' 'Sleep Quality' 'Weekly headaches' 'Academic performance'
 'Study load' 'Weekly extracurricular activities' 'Sress level']

,Date/Time,Sleep Quality,Weekly headaches,Academic performance,Study load,Weekly extracurricular activities,Sress level
0,27/10/2023 21:54:15,3,1,3,4,2,3
1,28/10/2023 12:24:40,4,1,2,3,3,2
2,28/10/2023 12:24:51,2,1,2,1,4,4
3,28/10/2023 12:26:11,3,2,3,2,3,3
4,28/10/2023 12:26:45,2,3,1,5,5,3
5,28/10/2023 12:31:02,3,1,3,2,1,1
6,28/10/2023 12:34:45,3,5,1,4,3,5
7,28/10/2023 12:35:43,4,3,1,4,1,1
8,28/10/2023 12:36:07,2,1,4,4,5,1
9,28/10/2023 12:36:20,1,2,3,2,5,2
10,28/10/2023 12:37:22,2,3,5,5,2,4
11,28/10/2023 12:38:40,3,1,5,1,4,1
12,28/10/2023 12:39:43,2,3,3,4,4,3
13,28/10/2023 12:40:50,4,1,4,4,1,1
14,28/10/2023 12:41:12,4,1,3,2,5,2
15,28/10/2023 12:41:56,2,3,3,5,3,4
16,28/10/2023 12:48:22,3,1,3,3,3,4
17,28/10/2023 13:26:41,1,1,1,1,1,2
18,28/10/2023 13:28:47,2,1,3,1,2,3
19,28/10/2023 13:29:54,2,3,3,2,3,4
20,28/10/2023 13:30:57,3,4,2,2,1,2
21,28/10/2023 13:32:41,3,3,4,4,3,3
22,28/10/2023 13:33:15,2,1,2,3,2,2
23,28/10/2023 13:33:59,3,1,4,4,2,3
24,28/10/2023 13:41:28,5,1,4,2,1,1
25,28/10/2023 13:42:52,3,1,3,2,2,1
26,28/10/2023 13:44:07,5,1,5,1,5,5
27,28/10/2023 13:47:44,5,5,5,1,1,1
28,28/10/2023 13:52:22,2,3,3,1,1,2
29,28/10/2023 13:54:48,3,4,2,1,3,1
30,28/10/2023 13:57:20,5,1,3,5,5,5
31,28/10/2023 14:09:05,5,2,3,2,3,4
32,28/10/2023 14:27:19,5,5,4,5,2,5
33,28/10/2023 14:40:55,2,3,4,1,2,2
34,28/10/2023 14:58:39,4,1,5,4,5,2
35,28/10/2023 15:10:02,5,1,4,3,2,5
36,28/10/2023 15:10:43,4,1,1,2,4,5
37,28/10/2023 15:39:59,3,2,3,1,1,3
38,28/10/2023 16:16:13,3,4,4,5,3,1
39,28/10/2023 16:34:16,3,1,4,4,4,3
40,28/10/2023 16:55:49,4,4,3,2,2,2
41,28/10/2023 17:24:10,4,1,4,5,1,5
42,28/10/2023 17:26:18,4,2,3,3,5,4
43,28/10/2023 17:29:55,2,1,4,4,1,3
44,28/10/2023 17:31:52,5,1,4,5,4,5
45,28/10/2023 17:56:58,4,1,3,2,5,4
46,28/10/2023 22:33:48,2,1,4,4,1,4
47,28/10/2023 23:06:00,4,3,3,2,2,2
48,28/10/2023 23:45:09,3,3,4,4,4,3
49,29/10/2023 00:32:26,1,1,1,2,3,1
50,29/10/2023 11:40:20,5,1,5,1,3,3
51,31/10/2023 10:10:03,1,1,5,1,5,1
52,31/10/2023 20:49:11,3,2,3,2,5,2

In [28]:
# Supponiamo che 'data_ora' sia il nome della tua colonna di data/ora
df['Date/Time'] = pd.to_datetime(df['Date/Time'])

# Crea colonne separate per data e ora
df['Date'] = df['Date/Time'].dt.date
df['Time'] = df['Date/Time'].dt.time

# Ora puoi eliminare la colonna originale 'data_ora' se necessario
df.drop(columns=['Date/Time'], inplace=True)

In [31]:
print(df.columns.values)
df.head(2)

['Sleep Quality' 'Weekly headaches' 'Academic performance' 'Study load'
 'Weekly extracurricular activities' 'Sress level' 'Date' 'Time']

,Sleep Quality,Weekly headaches,Academic performance,Study load,Weekly extracurricular activities,Sress level,Date,Time
0,3,1,3,4,2,3,2023-10-27,21:54:15
1,4,1,2,3,3,2,2023-10-28,12:24:40

In [32]:
# Supponiamo che df sia il tuo DataFrame
df = df[['Date', 'Time', 'Sleep Quality', 'Weekly headaches', 'Academic performance', 'Study load', 'Weekly extracurricular activities', 'Sress level']]

In [33]:
print(df.columns.values)
df.head(100)

['Date' 'Time' 'Sleep Quality' 'Weekly headaches' 'Academic performance'
 'Study load' 'Weekly extracurricular activities' 'Sress level']

,Date,Time,Sleep Quality,Weekly headaches,Academic performance,Study load,Weekly extracurricular activities,Sress level
0,2023-10-27,21:54:15,3,1,3,4,2,3
1,2023-10-28,12:24:40,4,1,2,3,3,2
2,2023-10-28,12:24:51,2,1,2,1,4,4
3,2023-10-28,12:26:11,3,2,3,2,3,3
4,2023-10-28,12:26:45,2,3,1,5,5,3
5,2023-10-28,12:31:02,3,1,3,2,1,1
6,2023-10-28,12:34:45,3,5,1,4,3,5
7,2023-10-28,12:35:43,4,3,1,4,1,1
8,2023-10-28,12:36:07,2,1,4,4,5,1
9,2023-10-28,12:36:20,1,2,3,2,5,2
10,2023-10-28,12:37:22,2,3,5,5,2,4
11,2023-10-28,12:38:40,3,1,5,1,4,1
12,2023-10-28,12:39:43,2,3,3,4,4,3
13,2023-10-28,12:40:50,4,1,4,4,1,1
14,2023-10-28,12:41:12,4,1,3,2,5,2
15,2023-10-28,12:41:56,2,3,3,5,3,4
16,2023-10-28,12:48:22,3,1,3,3,3,4
17,2023-10-28,13:26:41,1,1,1,1,1,2
18,2023-10-28,13:28:47,2,1,3,1,2,3
19,2023-10-28,13:29:54,2,3,3,2,3,4
20,2023-10-28,13:30:57,3,4,2,2,1,2
21,2023-10-28,13:32:41,3,3,4,4,3,3
22,2023-10-28,13:33:15,2,1,2,3,2,2
23,2023-10-28,13:33:59,3,1,4,4,2,3
24,2023-10-28,13:41:28,5,1,4,2,1,1
25,2023-10-28,13:42:52,3,1,3,2,2,1
26,2023-10-28,13:44:07,5,1,5,1,5,5
27,2023-10-28,13:47:44,5,5,5,1,1,1
28,2023-10-28,13:52:22,2,3,3,1,1,2
29,2023-10-28,13:54:48,3,4,2,1,3,1
30,2023-10-28,13:57:20,5,1,3,5,5,5
31,2023-10-28,14:09:05,5,2,3,2,3,4
32,2023-10-28,14:27:19,5,5,4,5,2,5
33,2023-10-28,14:40:55,2,3,4,1,2,2
34,2023-10-28,14:58:39,4,1,5,4,5,2
35,2023-10-28,15:10:02,5,1,4,3,2,5
36,2023-10-28,15:10:43,4,1,1,2,4,5
37,2023-10-28,15:39:59,3,2,3,1,1,3
38,2023-10-28,16:16:13,3,4,4,5,3,1
39,2023-10-28,16:34:16,3,1,4,4,4,3
40,2023-10-28,16:55:49,4,4,3,2,2,2
41,2023-10-28,17:24:10,4,1,4,5,1,5
42,2023-10-28,17:26:18,4,2,3,3,5,4
43,2023-10-28,17:29:55,2,1,4,4,1,3
44,2023-10-28,17:31:52,5,1,4,5,4,5
45,2023-10-28,17:56:58,4,1,3,2,5,4
46,2023-10-28,22:33:48,2,1,4,4,1,4
47,2023-10-28,23:06:00,4,3,3,2,2,2
48,2023-10-28,23:45:09,3,3,4,4,4,3
49,2023-10-29,00:32:26,1,1,1,2,3,1
50,2023-10-29,11:40:20,5,1,5,1,3,3
51,2023-10-31,10:10:03,1,1,5,1,5,1
52,2023-10-31,20:49:11,3,2,3,2,5,2